input {
    width: 100%;
    padding: 2px 5px;
    margin: 2px 0;
    border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}

button, input[type=button] {
    /* background-color: #4CAF50;*/
    border: none;
    color: white;
    padding: 4px 7px;
    text-decoration: none;
    margin: 2px 1px;
    cursor: pointer;
    align-content: center;
}


th, td {
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid rgb(15, 77, 158);
}

tr:hover {
    background-color: #f5f5f5;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.tableau-style {
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 100px auto;
    border: 2px solid midnightblue;
    /* border: 1px solid #ddd;  */
}

thead tr {
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td {
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

/* tbody tr:last-of-type{
    border-bottom: 2px solid midnightblue;
} */