<h1>Insurance Policy Management</h1>
<div class="table-responsive-md">
    <table class="table table-striped tableau-style " border='1' width='100%' style='border-collapse: collapse;'>
        <tr class="table-dark">
            <th>ID</th>
            <th>Policy Number</th>
            <th>Policy Amount</th>
            <th>Operations</th>


        </tr>

        <tr *ngFor="let policy of policies">
            <td >{{ policy.id }}</td>
            <td >{{ policy.number }}</td>
            <td>{{ policy.amount }}</td>
            <td class="align-middle">
                <button class="btn btn-primary" (click)="deletePolicy(policy.id)">Delete</button>
                <button class="btn btn-success" (click)="selectPolicy(policy)">Update</button>
            </td>
        </tr>
    </table>
    <div class="container align-items-center">
        <form #f="ngForm">
            <div class="row">
                <label class=" col-lg-2">Number</label>
                <input class=" form-control col-lg-6" type="text" name="number" [(ngModel)]="selectedPolicy.number">
            </div>
            
        <div class="row">
            <label class=" col-lg-2">Amount</label>
            <input class=" form-control col-lg-6" type="text" name="amount" [(ngModel)]="selectedPolicy.amount">
        </div>

    <div class="row">
        <input type="button" class="btn btn-success form-control   mx-auto" (click)="createOrUpdatePolicy(f)"
        value="Create or Update Policy">
    </div>   
        </form>

    </div>
    